* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f0f0f;
  color: white;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 30px 20px;
  background: #151515;
  border-bottom: 2px solid gold;
}

header h1 {
  color: gold;
  font-size: 2rem;
}

header p {
  color: #ccc;
  margin-top: 5px;
}

.hero {
  padding: 30px 20px;
  text-align: center;
}

.hero h2 {
  color: gold;
  margin-bottom: 15px;
}

.hero p {
  color: #ddd;
  margin-bottom: 25px;
}

#generateBtn {
  background: gold;
  color: black;
  border: none;
  padding: 14px 24px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#generateBtn:hover {
  opacity: 0.9;
}

#output {
  margin-top: 25px;
  padding: 20px;
  background: #1b1b1b;
  border: 1px solid gold;
  border-radius: 12px;
  text-align: left;
  line-height: 1.6;
}
input,
select {
  width: 100%;
  max-width: 500px;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid gold;
  border-radius: 10px;
  background: #1b1b1b;
  color: white;
  font-size: 16px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #ffd700;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}

#generateBtn,
#copyBtn {
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  background: gold;
  color: black;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#copyBtn {
  background: #222;
  color: gold;
  border: 1px solid gold;
}

#generateBtn:hover,
#copyBtn:hover {
  transform: translateY(-2px);
  transition: 0.3s;
}

#output {
  margin-top: 25px;
  min-height: 150px;
  word-wrap: break-word;
}

.hero {
  max-width: 700px;
  margin: auto;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.7rem;
  }

  .hero h2 {
    font-size: 1.3rem;
  }
}
